@model IEnumerable<MVCNedir.Models.Kisi>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model Ile VeriListeleme</title>
</head>
<body>
   <table border="1" cellpadding="10" cellspacing="0">
       <tr>
           <th>@Html.DisplayNameFor(model=> model.Isim)</th>
           <th>@Html.DisplayNameFor(model => model.Soyisim)</th>
           <th>Kimlik Numarası</th>
           <th>Seçenekler</th>
       </tr>
       @foreach (var item in Model)
       {
            <tr>
                <td>@item.Isim</td>
                <td>@item.Soyisim</td>
                <td>@item.TcNo</td>
                <td>
                    @Html.ActionLink("Sil", "KisiSil", new {id = item.TcNo})
                </td>
            </tr>
       }
   </table>
</body>
</html>
